/* Color Schema: https://www.sketchappsources.com/free-source/1049-flat-ui-color-pallete-sketch-freebie-resource.html */

body {
  /* overflow: hidden; TEMP: Reenable This */
  background-color: #F7F7F7;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Krub', sans-serif;
  /* TEMP:
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;*/
}

.navigation {
  height: 50px;
  background-color: #E6E6E6;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navigation a {
  padding: 20px;
  text-decoration: none;
  color: black;
}

.navigation .user-icon {
  height: 50px;
  border-radius: 50%;
  float: right;
  padding-right: 10px;
}

.navbar-offset {
  margin-top: 50px;
}




#body {} /* TEMP: REMOVE IT */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  /* background-color: #f2f2f2; */
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadcrumb li+li:before {
    padding: 3px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.edit-page {
  float: right;
}

.edit-page:after {
  content: '\2807';
  font-size: 2em;
  color: #2e2e2e;
}

.edit-page:hover { /* TEMP: Not Working */
  color: #34495E;
}





.welcome-text {
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 3em;
}





.stats-row {
  padding: 10px 50px;
}

.stats-row .stat-box {
  width: 150px;
  padding: 10px;
  float: left;
  margin-right: 35px;
  background-color: white; /* TEMP: background-color: #ECF0F1; */
  border: 1px solid #EEEEEE;
}

.stats-row .stat-box h2 {
  font-size: 55px;
  font-weight: 300;
  text-align: center;
}

.stats-row .stat-box h3 {
  text-align: center;
}

.stats-row .success {
  border-bottom: 5px solid #2ECC71;
}

.stats-row .information {
  border-bottom: 5px solid #3498DB;
}

.stats-row .failure {
  border-bottom: 5px solid #E74C3C;
}
